<notifier-container></notifier-container>
<app-speed-dial-fab [btn]="[{ 'icon': 'logout' }]" (clickEmitter)="logout()"></app-speed-dial-fab>

<mat-toolbar style="position: fixed;z-index:2;">
  <button mat-icon-button class="example-icon" (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  &nbsp;
  <span class="ng22" style="cursor:pointer" (click)="snowflake()">Ng22</span>
  <span *ngIf="title" style="display: flex; align-items: center;">
    &nbsp;&nbsp;&nbsp;&nbsp;&bull;&nbsp;&nbsp;
    {{title}}
    &nbsp;
    <mat-icon>{{icon}}</mat-icon>
  </span>

  <span class="spacer"></span>

  <ng-container *ngFor="let b of btn;let idx = index;">
    <button mat-raised-button
            [color]="b?.color ? b?.color : 'primary'"
            (click)="headerBtnClick(b)"
            [disabled]="busy"
            style="margin-right:5px;">
      <mat-icon *ngIf="b.icon" [ngStyle]="{'margin':b.name ? '0 -5px 0 -10px' : '0' }">{{b.icon}}</mat-icon>&nbsp;
      {{b.name}}
    </button>
  </ng-container>
  <mat-progress-bar class="loading" mode="indeterminate" *ngIf="busy"></mat-progress-bar>
</mat-toolbar>

<mat-drawer-container class="example-container" autosize [hasBackdrop]="isMobile">  
  <mat-drawer #drawer class="ng22-sidenav" [mode]="isMobile ? 'over' : 'side'" [opened]="!isMobile">
    <sidebar (clickEmitter)="menuSelect($event,drawer)"></sidebar>    
  </mat-drawer>

  <div class="content">
    <router-outlet (activate)="onOutletLoaded($event)"></router-outlet>
  </div>

</mat-drawer-container>



<div class="snowflakes" aria-hidden="true" *ngIf="showSF">
  <div class="snowflake">
    အရေးတော်ပုံ &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;၊|၊
  </div>
  <div class="snowflake">
    အောင်တော့မည်
  </div>
  <div class="snowflake">
    ၊|၊
  </div>
  <div class="snowflake">
    အရေးတော်ပုံ
  </div>
  <div class="snowflake">
    အောင်တော့မည်&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;၊|၊
  </div>
  <div class="snowflake">
    ၊|၊
  </div>
  <div class="snowflake">
    အာဏာရှင်စနစ် အဆုံးသတ်ရမည်
  </div>
  <div class="snowflake">
    ၊|၊
  </div>
  <div class="snowflake">
    ၊|၊&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; အရေးတော်ပုံ
  </div>
  <div class="snowflake">
    ၊|၊
  </div>
  <div class="snowflake">
    ၊|၊&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; အောင်တော့မည်
  </div>
  <div class="snowflake">

  </div>
  <div class="snowflake">
    အာဏာရှင်စနစ် အဆုံးသတ်ရမည်
  </div>
</div>
