.sidenav {
  height: calc(100%-60px);
  width: 20%;
  position: fixed;
  /*z-index: 1;*/
  margin-top: 60px;
  left: 0;
  /*background-color: #111;*/  
  overflow-x: hidden;
  padding:10px;
}

.content {  
  padding:10px;
  overflow:hidden;
  height:calc(100vh - 60px);
  overflow-y:auto;
}

.spacer {
  flex: 1 1 auto;
}

.mat-drawer-container {
  top:60px;
}
