<div class="form-group">
  <mat-form-field appearance="outline" floatLabel="always" [formGroup]="fg" [ngClass]="readonly ? 'col readonly' : 'col'">
    <mat-label [style.fontSize.px]="LibConst.LabelSize">{{label}}</mat-label>
    <input matInput [formControlName]="name" [readonly]="readonly" [type]="type" #input
           [id]="name"
           [ngStyle]="{'color': readonly ? 'grey' : 'black'}"
           [style.fontSize.px]="LibConst.ValueSize"
           style="margin:-10px 0 0 0;height:30px;"
           [placeholder]="placeholder"
           autocomplete="off" autofocus
           [maxlength]="max"
           (focus)="selectOnFocus ? $event.target.select() : null"
           (keyup)="emitEvent();" />
    <mat-icon *ngIf="icon" matSuffix
              color="primary"
              style="font-size:30px;">{{icon}}</mat-icon>
    <mat-progress-bar mode="indeterminate" class="loading" *ngIf="loading"></mat-progress-bar>
    <mat-hint *ngIf="max && !readonly" align="end">{{input.value.length}} / {{max}}</mat-hint>
  </mat-form-field>
</div>

