<div class="form-group readonly-box">
  <mat-form-field appearance="outline" floatLabel="always" class="col readonly" #field>
    <mat-label [style.fontSize.px]="LibConst.LabelSize">{{title}}</mat-label>
    <input matInput value="{{label}}" [style.fontSize.px]="LibConst.ValueSize" readonly
           style="margin:-10px 0 0 0;height:30px;" />
    <mat-icon *ngIf="prefix" matPrefix
              (click)="onClick()"
              color="primary"
              style="font-size:35px;margin-right:1.5rem;cursor:pointer;"
              matRipple
              [matRippleCentered]="true"
              [matRippleUnbounded]="true"
              [matRippleRadius]="50">
      {{prefix}}
    </mat-icon>
  </mat-form-field>
</div>

<style>
  .mat-ripple {
    overflow: unset !important;
  }
</style>

