<div *ngIf="data.type == LibConst.PopupTypeConfirmation">
  <h2 mat-dialog-title>{{data.data}}</h2>
  <div mat-dialog-actions>
    <button mat-raised-button color="warn" [mat-dialog-close]="true" cdkFocusInitial>YES</button>
    <button mat-raised-button color="primary" [mat-dialog-close]="false">NO</button>
  </div>
</div>

<div *ngIf="data.type == LibConst.PopupTypeAddInstruction">

  <button mat-icon-button style="float: right; top: -24px; right: -24px;" [mat-dialog-close]="false">
    <mat-icon class="close-icon">close</mat-icon>
  </button>
  <h2 mat-dialog-title>Instruction</h2>
  <add-instruction (closeEmitter)="close($event)"
                   [md]="data.data"></add-instruction>
</div>
