/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import "~angular-notifier/styles.css";

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/*using*/
.form-group { 
   margin-bottom: 0!important; 
}

/*using*/
.chk {
  margin: -30px 0 10px -15px;
}

/*using*/
.custom-a {
  cursor: pointer;
  color: #0366d6;
}
.custom-a:hover {
  text-decoration: underline;
}


