<div *ngIf="addNew">  
  <send-msg [mur]="selected" (gobackEmitter)="switchUi();"></send-msg>
</div>

<div *ngIf="!addNew">

  <ng-container *ngFor="let msg of lst;let idx = index;">
    <mat-card style="margin-bottom: -15px;">
      <mat-card-title>
        <div style="display: flex; align-items: center;">
          <mat-icon style="color: #5cb85c">message</mat-icon>&nbsp;
          <span>{{msg.message}}</span>
        </div>
      </mat-card-title>
      <mat-card-subtitle> &bull; Sent {{msg.senton | fromNow}}</mat-card-subtitle>
      <span>
        <button mat-raised-button color="warn"
                (click)="delete_message(msg.uid)" [disabled]="busy">
          <mat-icon style="margin: 0 -5px 0 -10px;">delete_forever</mat-icon>&nbsp;
          Remove
        </button>
      </span>      
      <mat-card-content style="margin-top:10px;">
        <mat-card>
          <mat-card-header>
            <mat-card-title style="margin-left: -15px; margin-top: -10px;">Sent to</mat-card-title>
          </mat-card-header>

          <mat-chip-list>
            <mat-chip *ngFor="let u of msg.sentTo">
              <mat-icon>person</mat-icon>&nbsp;
              {{u.appUser.userId}} <span *ngIf="u.appUser.nickName">&nbsp;&bull;&nbsp;{{u.appUser.nickName}}</span>
            </mat-chip>
          </mat-chip-list>

        </mat-card>





      </mat-card-content>
    </mat-card>
    <br />
  </ng-container>

</div>
