<form [formGroup]="fg" class="form-group row">

  <auto [fg]="fg" [name]="'user'" [label]="'User'"
        [class]="'col-6'"
        [require]="true"
        [service]="appUserSvc" [method]="'getUserList'" [displayField]="'nickName'"></auto>

  <auto [fg]="fg" [name]="'page'" [label]="'Page'"
        [class]="'col-6'"
        [require]="true"
        [service]="appUserSvc" [method]="'searchPage'" [displayField]="'menuName'"></auto>

  <btn [icon]="'done'" (clickEmitter)="save()"></btn>

</form>
